/* Recursos externos */
@import url("normalize.css");

/* Estilos Globales que podemos utilizar como variables en CSS*/
:root {
  --colorFondoPagina: #e7e7e7;
  --colorFondoAside: #ffa600;
  --colorFondoWidgets: #52a1cf;
  --colorFondoHeaderFooter: #353535;
  --colorBlanco: #ffff;
  --colorNegro: #0000;
  --fuentePrincipal: 'Roboto', sans-serif;
}
/* Configuración Global */

/* apply a natural box layout model to all elements, but allowing components to change - Snippet de Paul Iris */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* configuración que permite igualar 1 rem = 10 pixels */
  box-sizing: border-box; /* Snippet de Paul Irish */
  /* Establecemos un scroll para toda la página */
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--colorFondoPagina);
  font-family: var(--fuentePrincipal);
}

p {
  font-size: 1.1rem;
}

.contenedor {
  width: 85%;
  max-width: 100rem;
  margin: 4rem auto; /* Espacio de 20px arriba y abajo y con 'auto' centra horizontal el contenedor */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);

  /* Definiendo areas en CSS Grid */
  grid-template-areas: "cabecera cabecera cabecera"
                       "contenido contenido barraLateral"
                       "contenido contenido barraLateral"
                       "widget_1 widget_2 barraLateral"
                       "footer footer footer";

}

.contenedor .cabecera,
.contenedor .contenido,
.contenedor .barraLateral,
.contenedor .widget_1,
.contenedor .widget_2,
.contenedor .footer {
  background-color: var(--colorBlanco);
  padding: 2rem;
  border-radius: .25rem;
}

.contenedor .cabecera {
  background-color: var(--colorFondoHeaderFooter);
  color: var(--colorBlanco);
  grid-area: cabecera;
}

.contenedor .contenido {
  grid-area: contenido;
}

.contenedor .contenido p {
  margin: 0;
  text-align: justify;
}

.contenedor .widget_1,
.contenedor .widget_2 {
  background-color: var(--colorFondoWidgets);
  color: var(--colorBlanco);
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .widget_1 {
  grid-area: widget_1;
}
.contenedor .widget_2 {
  grid-area: widget_2;
}

.contenedor .barraLateral { 
  background-color: var(--colorFondoAside);
  min-height: 15rem;
    grid-area: barraLateral;
  /* centrar contenido vertizal y horizontalmente
  display: grid; 
  align-items: center;
  justify-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;*/
}

.contenedor .footer {
  background-color: var(--colorFondoHeaderFooter);
  color: var(--colorBlanco);
  grid-area: footer;
 
}

.contenedor .footer {
  background-color: var(--colorFondoHeaderFooter);
  color: var(--colorBlanco);
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  /* Reestructurando nuestro contenedor para hacerlo responsive */
  .contenedor {
    /* Definiendo areas en CSS Grid */
    grid-template-areas: "cabecera cabecera cabecera"
                        "contenido contenido contenido"
                        "barraLateral barraLateral barraLateral"
                        "widget_1 widget_1 widget_2"
                        "footer footer footer";
  }
}
